<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<title>@ViewBag.Title - G4Broker</title>*@
    
    <link href="~/Content/style.default.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.gritter.css" />
    @RenderSection("Styles", required: false)
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <div class="headerwrapper">
            <div class="header-left">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    @*<img src="@GenFx.GetOrganizationDetails("OrganizationImageInner")" alt="@GenFx.GetOrganizationDetails("OrganizationName")" style="max-width:105px;" />*@
                </a>
                <div class="pull-right">
                    <a href="" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div><!-- header-left -->

            <div class="header-right">

                <div class="pull-right">
                    @Html.Partial("_LoginTop")
                </div><!-- pull-right -->

            </div><!-- header-right -->

        </div><!-- headerwrapper -->
    </header>

    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">
                    @Html.Partial("_LoginNav")
                </div><!-- media -->
                <h5 class="leftpanel-title">Navigation</h5>
                @Html.Partial("_Navigation")
             </div><!-- leftpanel -->

            @RenderBody()
        </div><!-- mainwrapper -->
    </section>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/retina.min.js"></script>
    <script src="~/Scripts/jquery.cookies.js"></script>
    <script src="~/Scripts/jquery.gritter.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
   
    @if (GenFx.isVarAvailableNotEmpty(Session["siteMsg"]))
    {
        <script type="text/javascript">
            msgtype = '@Session["siteMsgTyp"].ToString()';
            title = 'Information:';
            if (msgtype == 'error') { title = 'Following Errors Occurred:'; msgtype = 'danger'; }
            if (msgtype == 'success') { title = 'Success'; msgtype = 'success'; }
            showSiteMessage(title, '@Session["siteMsg"].ToString()', msgtype);
        </script>
        Session["siteMsg"] = null;
    }
            

    @RenderSection("scripts", required: false)

</body>
</html>